.idea
account/__pycache__
account/migrations/__pycache__
account/migrations/0001_initial.py
api/__pycache__
api/migrations/__pycache__
htmlcov
image/__pycache__
image/migrations/__pycache__
image/migrations/0001_initial.py
image/migrations/0002_alter_imagepost_slug.py
imageApi/__pycache__
imageApi/migrations/__pycache__
plan/__pycache__
plan/migrations/__pycache__
plan/migrations/0001_initial.py
db.sqlite3
.DS_Store
.coverage
